<div class="container">
    <div>
        <mat-card>
            <mat-card-header>Tenant Management</mat-card-header>
            <mat-card-content>
                <div>
                    <div>
                        <ul>
                            <li>John Doe <strong>UNIT 3313</strong></li>
                            <li>Jane Doe <strong>UNIT 3314</strong></li>
                            <li>Rock Doe <strong>UNIT 3315</strong></li>
                            <li>Vs Doe <strong>UNIT 3316</strong></li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>