<div class="container">
    <div>
        <mat-card>
            <mat-card-header>Tenant Management</mat-card-header>
            <mat-card-content>
                <div>
                    <div>
                        <ul>
                            <li *ngFor="let tenant of tenants">
                                <span (click)="openDialog(tenant)">
                                {{tenant.unit}}
                            </span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>